<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="6">
	<listeners>
		<listener class-name="mabellan.selenium.common.TestListener"></listener>
	</listeners>
	<test name="Hello World">
		<classes>
			<class name="mabellan.selenium.common.HelloWorldTest" />
		</classes>
	</test>

</suite>